@model IEnumerable<WebAppAsp1.Models.EntetiesModel.TrainingModel>

@{
    ViewBag.Title = "Trainings";
    ViewData["heading"] = "Trainings";
    ViewData["TrainingsActive"] = "active";
    if ((string)ViewData["all"] == "active")
    {
        ViewData["edit_btn"] = "hidden";
    }
    else
    {
        ViewData["edit_btn"] = "";
    }
}

<div class="row">
    <div class="display col-md-12">
        <a class="btn @ViewData["my"]" href="/Submenu/Trainings?type=mytrainings">My trainings</a>
        <a class="btn @ViewData["all"]" href="/Submenu/Trainings?type=alltrainings">All trainings</a>
        <a id="tr-display-type-list" class="glyphicon glyphicon-th-list btn active" onclick="display_as_list()"></a>
        <a id="tr-display-type-plite" class="glyphicon glyphicon-th-large btn" onclick="display_as_plite()"></a>
    </div>
</div>
@if ((bool) TempData["null"])
{
    if (User.IsInRole("Trainer"))
    {
        <p>Вы не создали ни одной тренеровки</p>
    }
    if (User.IsInRole("Client"))
    {
        <p>Вы не подписались ни на одну тренерову</p>
    }
}
else
{
    <div class="list-group trainings_container row">
        @if (Model.Count() == 1)
        {
            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                @{
                    var item = Model.ToList()[0];
                }
                <div class="list-group-item col-md-12 training_container"  onclick="goTrainerA('@item.Id');" style="cursor: pointer">
                    <div class="row">
                        <h3 class="list-group-item-heading col-md-9">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <div class="training_edit hidden col-md-3 text-right">
                            <a href="/Submenu/EditTraining?trainingId=@item.Id" class="btn btn-primary @ViewData["edit_btn"]">Edit</a>
                        </div>
                    </div>
                    <div class="list-group-item-text">
                        <p>
                            Trainer : <b><a href="/Submenu/Trainer?id=@item.Trainer">@Html.DisplayFor(modelItem => item.TrainerName)</a></b>
                        </p>
                        <p>
                            Training time : <b>@Html.DisplayFor(modelItem => item.Hours)</b> min
                        </p>
                        <p>
                            Minimum age :<b> @Html.DisplayFor(modelItem => item.Minage)</b>
                        </p>
                        <p>
                            Price : <b>@Html.DisplayFor(modelItem => item.Price)</b>
                        </p>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>

                </div>

            </div>
        }
        else
        {
            for (int i = 0; i < Model.ToList().Count() - 1; i++)
            {
                <div class="row" style="padding-left: 30px; padding-right: 30px;">
                    @{
                        var item = Model.ToList()[i];
                    }
                    
                        <div class="list-group-item col-md-12 training_container" onclick="goTrainerA('@item.Id');" style="cursor: pointer">
                            <div class="row">
                                <h3 class="list-group-item-heading col-md-9">@Html.DisplayFor(modelItem => item.Name)</h3>
                                <div class="training_edit hidden col-md-3 text-right">
                                    <a href="/Submenu/EditTraining?trainingId=@item.Id" class="btn btn-primary @ViewData["edit_btn"]">Edit</a>
                                </div>
                            </div>
                            <div class="list-group-item-text">
                                <p>
                                    Trainer : <b><a href="/Submenu/Trainer?id=@item.Trainer">@Html.DisplayFor(modelItem => item.TrainerName)</a></b>
                                </p>
                                <p>
                                    Training time : <b>@Html.DisplayFor(modelItem => item.Hours)</b> min
                                </p>
                                <p>
                                    Minimum age :<b> @Html.DisplayFor(modelItem => item.Minage)</b>
                                </p>
                                <p>
                                    Price : <b>@Html.DisplayFor(modelItem => item.Price)</b>
                                </p>
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>

                        </div>
                    

                    @{
                        i++;
                        item = Model.ToList()[i];
                    }
                    <div class="list-group-item col-md-12 training_container"  onclick="goTrainerA('@item.Id');" style="cursor: pointer">
                        <div class="row">
                            <h3 class="list-group-item-heading col-md-9">@Html.DisplayFor(modelItem => item.Name)</h3>
                            <div class="training_edit hidden col-md-3 text-right">
                                <a href="/Submenu/EditTraining?trainingId=@item.Id" class="btn btn-primary @ViewData["edit_btn"]">Edit</a>
                            </div>
                        </div>
                        <div class="list-group-item-text">
                            <p>
                                Trainer : <b><a href="/Submenu/Trainer?id=@item.Trainer">@Html.DisplayFor(modelItem => item.TrainerName)</a></b>
                            </p>
                            <p>
                                Training time : <b>@Html.DisplayFor(modelItem => item.Hours)</b> min
                            </p>
                            <p>
                                Minimum age :<b> @Html.DisplayFor(modelItem => item.Minage)</b>
                            </p>
                            <p>
                                Price : <b>@Html.DisplayFor(modelItem => item.Price)</b>
                            </p>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>

                    </div>

                </div>
            }
        }
        @*@foreach (var item in Model)
        {
                <div class="list-group-item col-md-12 training_container">
                    <div class="row">
                        <h3 class="list-group-item-heading col-md-9">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <div class="training_edit hidden col-md-3 text-right">
                            <a href="/Submenu/EditTraining?trainingId=@item.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                    <div class="list-group-item-text">
                        <p>
                            Training time : <b>@Html.DisplayFor(modelItem => item.Hours)</b> min
                        </p>
                        <p>
                            Minimum age :<b> @Html.DisplayFor(modelItem => item.Minage)</b>
                        </p>
                        <p>
                            Price : <b>@Html.DisplayFor(modelItem => item.Price)</b>
                        </p>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>

                </div>
        }*@
    </div>
}

@if (User.IsInRole("Trainer"))
{
    <div class="row col-md-12">
        @Html.ActionLink("Create", "CreateTraining", "Submenu", new {@class = "btn btn-primary"})
    </div>
}